<div class="home">
    <div class="title">
        NoiseMix
    </div>
    <div class="clock">
        <div class="time">
            <div class="hours">
                {{ dateHours }} :&nbsp;
            </div>
            <div class="minute">
                {{ dateMinute }} :&nbsp;
            </div>
            <div class="second">
                {{ dateSecond }}
            </div>
        </div>
        <div class="date">
            <div class="day">
                {{ dateDay }}&nbsp;
            </div>
            <div class="dayNum">
                {{ dateNumDay }}&nbsp;
            </div>
            <div class="month">
                {{ dateMonth }}
            </div>   
        </div>
    </div>
    <app-clickers></app-clickers>
</div>